@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 600px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}
